{% extends 'base.html.twig' %}

{% block title %}Galerie - Le Braséro{% endblock %}

{% block content %}
    <div class="container">
        <div class="mb-4">
            <img src="{{ asset('assets/images/plat.png') }}" alt="plat" class="img-fluid">
        </div>
    </div>

    <div class="container mt-5">
        <h4 class="text-center">Voici quelques exemples de plats que vous pourrez retrouver chez nous : </h4>
        <div class="container my-5">
            <div class="row">
                <div class="col-md-6">
                    <img src="{{ asset('assets/images/galerie1.jpg') }}" alt="plat" class="mx-auto d-block img-thumbnail w-75">
                </div>
                <div class="col-md-6 my-auto d-block">
                    <h5 class="text-center">Lorem ipsum</h5>
                    <hr>
                    <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                </div>
            </div>
        </div>
            
        <div class="divider"></div>

        <div class="container my-5">
            <div class="row">
                <div class="col-md-6 my-auto d-block">
                    <h5 class="text-center">Lorem ipsum</h5>
                    <hr>
                    <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                </div>
                <div class="col-md-6">
                    <img src="{{ asset('assets/images/galerie2.jpg') }}" alt="plat" class="mx-auto d-block img-thumbnail w-75">
                </div>
            </div>
        </div>

        <div class="divider"></div>

        <div class="container my-5">
            <div class="row">
                <div class="col-md-6">
                    <img src="{{ asset('assets/images/galerie3.jpg') }}" alt="plat" class="mx-auto d-block img-thumbnail w-75">
                </div>
                <div class="col-md-6 my-auto d-block">
                    <h5 class="text-center">Lorem ipsum</h5>
                    <hr>
                    <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                </div>
            </div>
        </div>
        
        <div class="divider"></div>

        <div class="container my-5">
            <div class="row">
                <div class="col-md-6 my-auto d-block">
                    <h5 class="text-center">Lorem ipsum</h5>
                    <hr>
                    <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                </div>
                <div class="col-md-6">
                    <img src="{{ asset('assets/images/galerie4.jpg') }}" alt="plat" class="mx-auto d-block img-thumbnail w-75">
                </div>
            </div>
        </div>

        <div class="divider"></div>

        <div class="container my-5">
            <div class="row">
                <div class="col-md-6">
                    <img src="{{ asset('assets/images/galerie5.jpg') }}" alt="plat" class="mx-auto d-block img-thumbnail w-75">
                </div>
                <div class="col-md-6 my-auto d-block">
                    <h5 class="text-center">Lorem ipsum</h5>
                    <hr>
                    <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                </div>
            </div>
        </div>

        <div class="divider"></div>
        
        <div class="container my-5">
            <div class="row">
                <div class="col-md-6 my-auto d-block">
                    <h5 class="text-center">Lorem ipsum</h5>
                    <hr>
                    <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                </div>
                <div class="col-md-6">
                    <img src="{{ asset('assets/images/galerie6.jpg') }}" alt="plat" class="mx-auto d-block img-thumbnail w-75">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
