{% extends 'base.html.twig' %}

{% block title %}Galerie - Le Braséro{% endblock %}

{% block content %}
    <div class="container">
        <div class="mb-4">
            <img src="{{ asset('assets/images/plat.png') }}" alt="plat" class="img-fluid">
        </div>
    </div>

    <div class="container mt-5">
        <h4 class="text-center">Voici quelques exemples de plats que vous pourrez retrouver chez nous : </h4>
        {% for images in galerie %}
        <div class="container my-5">
            <div class="row">
                <div class="col-md-6">
                    <img src="./uploads/{{ images.image }}" alt="{{ images.titre }}" class="mx-auto d-block img-thumbnail w-75">
                </div>
                <div class="col-md-6 my-auto d-block">
                    <h5 class="text-center mt-4 mt-md-0">{{ images.titre }}</h5>
                    <hr>
                    <p>{{ images.texte }}</p>
                </div>
            </div>
        </div>
            
        <div class="divider"></div>
        {% endfor %}
    </div>
{% endblock %}
