{% extends 'base.html.twig' %}

{% block title %}Nos Fournisseurs - Le Braséro{% endblock %}

{% block content %}
    <div class="container">
        <div class="mb-4">
            <img src="{{ asset('assets/images/viande.jpg') }}" alt="plat" class="img-fluid">
        </div>
    </div>

    <div class="container">
        <h5 class="brasero-header3 text-center mx-auto d-block">Nos fournisseurs locaux</h5>
        <p class="text-center mx-auto d-block mb-5">Pour favoriser le commerce de proximité, préserver l’environnement et valoriser les produits de notre région</p>
        
        <div class="row g-5">
            <div class="col-md-4 mb-5">
                <div class="position-sticky" style="top: 2rem;">
                    <img src="{{ asset('assets/images/affiche.jpg') }}" class="img-fluid" alt="">
                </div>
            </div>
    
            <div class="col-md-8">
                <article class="mb-5">
                    {% for items in suppliers %}
                    <div class="container my-5">
                        <div class="row">
                            <div class="col-md-8">
                                <img src="./uploads/{{ items.image }}" alt="{{ items.titre }}" class="mx-auto d-block img-thumbnail w-75">
                            </div>
                            <div class="col-md-4 my-auto d-block">
                                <h5 class="text-center mt-4 mt-md-0">{{ items.titre }}</h5>
                                <hr>
                                <p class="text-center">{{ items.texte }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="divider"></div>
                    {% endfor %}
                </article>
            </div>
        </div>
    </div>
{% endblock %}
